{% extends "MyInventoryApp/base.html" %}

{% block title %}Water Bottles — MyInventorySystem{% endblock %}

{% block content %}
  <h1>Water Bottles</h1>
  <a href="/add_bottle">+ Add New Bottle</a>

  {% if bottles %}
    <table border="1">
      <thead>
        <tr>
          <th>#</th>
          <th>SKU</th>
          <th>Brand</th>
          <th>Capacity (mL)</th>
          <th>Price</th>
          <th>Color</th>
          <th>Supplier</th>
        </tr>
      </thead>
      <tbody class = "bottles-table-body">
        {% for bottle in bottles %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ bottle.sku }}</td>
          <td>{{ bottle.brand }}</td>
          <td>{{ bottle.size }}</td>
          <td>PHP {{ bottle.cost }}</td>
          <td>{{ bottle.color }}</td>
          <td>{{ bottle.supplied_by }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No water bottles found.</p>
  {% endif %}
{% endblock %}